div.hotels1 {
  width: 285px;
  height: 185px;
  background-image: url('../img/econo.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  margin-bottom: 20px;
}

div.hotels1:hover {
    opacity: 0.7;
}

div.hotels2 {
  width: 285px;
  height: 185px;
  background-image: url('../img/bestwestern.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  margin-bottom: 20px;
  /*margin-right: 30px;*/
}

div.hotels2:hover {
  opacity: 0.7;
}
div.hotels {
  margin: 0 auto;
  display: block;
  max-width: 620px;
  min-height: 350px;
  overflow: hidden;
}
div.hotel {
  max-width: 620px;
  margin: 0 auto;

}

div.powr-countdown-timer {
  margin-top: 20px;
}

@media (max-width: 380px){
  .header-2 h1 {
    font-size: 36px;
    color: white;
      font-weight: 300;
  }
}

section.about-us h1 {
  /*margin-top: 50px;*/
}

section.about-us {
/*  position: relative;
  top: 120px;*/
  text-align: center;
}

ul.menu li a:hover {
  color: white !important;
  background: #75c5b1;
  /*opacity: 0.9; */
  padding: 10px 10px;
}

.story-3.welcome {
  margin-top: -60px;
}

.text-block {
  background: white;
}
.text-block-pad {
  background: white;
  padding: 30px 50px 50px 50px;
}

#top-pad {
  padding-top: 20px;
}



/*ng-view animation*/

.slide {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}
.slide.ng-enter,
.slide.ng-leave {
    -webkit-transition: all 1s ease;
    transition: all 1s ease;
}
.slide.ng-enter {
    left: 100%;
}
.slide.ng-enter-active {
    left: 0;
}
.slide.ng-leave {
    left: 0;
}
.slide.ng-leave-active {
    left: -100%;
}
.fade {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 100%;
    opacity: 1;
}
.fade.ng-enter,
.fade.ng-leave {
    -webkit-transition: all 1s ease;
    transition: all 1s ease;
}
.fade.ng-enter {
    opacity: 0;
}
.fade.ng-enter-active {
    opacity: 1;
}
.fade.ng-leave {
    opacity: 1;
}
.fade.ng-leave-active {
    opacity: 0;
}
.pop {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}
.pop.ng-enter,
.pop.ng-leave {
    -webkit-transition: all 1s ease;
    transition: all 1s ease;
}
.pop.ng-enter {
    -webkit-transform: scale(0);
    transform: scale(0);
}
.pop.ng-enter-active,
.pop.ng-leave,
.pop.ng-leave-active {
    -webkit-transform: scale(1);
    transform: scale(1);
}
.pop.ng-leave-active {}

p#remove-margin {
  margin-bottom: 0 !important;
}

.demo-gallery {
  margin-top: 100px;
}

     .demo-gallery > ul {
              margin-bottom: 0;
            }
            .demo-gallery > ul > li {
                float: left;
                margin-bottom: 15px;
                margin-right: 20px;
                width: 250px !important;
                height: 200px !important;
                overflow: hidden;

            }
            .demo-gallery > ul > li a {
              border: 3px solid #FFF;
              border-radius: 3px;
              display: block;
              overflow: hidden;
              position: relative;
              float: left;
            }
            .demo-gallery > ul > li a > img {
              -webkit-transition: -webkit-transform 0.15s ease 0s;
              -moz-transition: -moz-transform 0.15s ease 0s;
              -o-transition: -o-transform 0.15s ease 0s;
              transition: transform 0.15s ease 0s;
              -webkit-transform: scale3d(1, 1, 1);
              transform: scale3d(1, 1, 1);
              height: 100%;
              width: 100%;
            }
            .demo-gallery > ul > li a:hover > img {
              -webkit-transform: scale3d(1.1, 1.1, 1.1);
              transform: scale3d(1.1, 1.1, 1.1);
            }
            .demo-gallery > ul > li a:hover .demo-gallery-poster > img {
              opacity: 1;
            }
            .demo-gallery > ul > li a .demo-gallery-poster {
              background-color: rgba(0, 0, 0, 0.1);
              bottom: 0;
              left: 0;
              position: absolute;
              right: 0;
              top: 0;
              -webkit-transition: background-color 0.15s ease 0s;
              -o-transition: background-color 0.15s ease 0s;
              transition: background-color 0.15s ease 0s;
            }
            .demo-gallery > ul > li a .demo-gallery-poster > img {
              left: 50%;
              margin-left: -10px;
              margin-top: -10px;
              opacity: 0;
              position: absolute;
              top: 50%;
              -webkit-transition: opacity 0.3s ease 0s;
              -o-transition: opacity 0.3s ease 0s;
              transition: opacity 0.3s ease 0s;
            }
            .demo-gallery > ul > li a:hover .demo-gallery-poster {
              background-color: rgba(0, 0, 0, 0.5);
            }
            .demo-gallery .justified-gallery > a > img {
              -webkit-transition: -webkit-transform 0.15s ease 0s;
              -moz-transition: -moz-transform 0.15s ease 0s;
              -o-transition: -o-transform 0.15s ease 0s;
              transition: transform 0.15s ease 0s;
              -webkit-transform: scale3d(1, 1, 1);
              transform: scale3d(1, 1, 1);
              height: 100%;
              width: 100%;
            }
            .demo-gallery .justified-gallery > a:hover > img {
              -webkit-transform: scale3d(1.1, 1.1, 1.1);
              transform: scale3d(1.1, 1.1, 1.1);
            }
            .demo-gallery .justified-gallery > a:hover .demo-gallery-poster > img {
              opacity: 1;
            }
            .demo-gallery .justified-gallery > a .demo-gallery-poster {
              background-color: rgba(0, 0, 0, 0.1);
              bottom: 0;
              left: 0;
              position: absolute;
              right: 0;
              top: 0;
              -webkit-transition: background-color 0.15s ease 0s;
              -o-transition: background-color 0.15s ease 0s;
              transition: background-color 0.15s ease 0s;
            }
            .demo-gallery .justified-gallery > a .demo-gallery-poster > img {
              left: 50%;
              margin-left: -10px;
              margin-top: -10px;
              opacity: 0;
              position: absolute;
              top: 50%;
              -webkit-transition: opacity 0.3s ease 0s;
              -o-transition: opacity 0.3s ease 0s;
              transition: opacity 0.3s ease 0s;
            }
            .demo-gallery .justified-gallery > a:hover .demo-gallery-poster {
              background-color: rgba(0, 0, 0, 0.5);
            }
            .demo-gallery .video .demo-gallery-poster img {
              height: 48px;
              margin-left: -24px;
              margin-top: -24px;
              opacity: 0.8;
              width: 48px;
            }
            .demo-gallery.dark > ul > li a {
              border: 3px solid #04070a;
            }
            .home .demo-gallery {
              padding-bottom: 80px;
            }